In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv("data.csv")

In [3]:
 housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
1,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
2,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
4,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7

In [4]:
housing['CHAS'].value_counts()

0.000    416
1.000     35
0.693      8
0.740      7
0.671      6
0.700      6
0.679      6
0.597      5
0.614      4
0.668      2
0.659      2
0.718      2
0.584      2
0.580      2
0.631      1
0.713      1
Name: CHAS, dtype: int64

In [5]:
housing.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,451.000000
mean,1.271696,13.285941,9.218812,0.141044,1.102290,15.697830,58.731877,6.177433,78.215842,339.403564,42.669069,332.664158,11.550792,23.749889
std,2.400926,23.070598,7.170151,0.313012,1.648432,27.244172,33.135624,6.482191,203.715008,180.838910,87.663630,125.414151,6.063900,8.818376
min,0.000000,0.000000,0.000000,0.000000,0.385000,3.561000,1.137000,1.129600,1.000000,20.200000,2.600000,0.320000,1.730000,6.300000
25%,0.049810,0.000000,3.440000,0.000000,0.449000,5.961000,32.000000,2.429800,4.000000,254.000000,17.000000,364.610000,6.900000,18.500000
50%,0.144760,0.000000,6.960000,0.000000,0.538000,6.319000,65.300000,3.917500,5.000000,307.000000,18.900000,390.640000,10.400000,21.900000
75%,0.825260,18.100000,18.100000,0.000000,0.647000,6.951000,90.000000,6.336100,24.000000,403.000000,20.200000,395.600000,15.020000,26.600000
max,9.966540,100.000000,27.740000,1.000000,7.313000,100.000000,100.000000,24.000000,666.000000,711.000000,396.900000,396.900000,34.410000,50.000000

In [6]:
#for grapgh plotting
%matplotlib inline
# import matplotlib.pyplot as plt
# housing.hist(bins=50 , figsize=(20,15))

In [7]:
# TRAIN TEST SPLIT

In [8]:
import numpy as np

def split_train_test(data , test_ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
#     print(shuffled)
    test_set_size = int(len(data)*test_ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices] , data.iloc[test_indices]

In [9]:
train_set , test_set = split_train_test(housing,0.2)

In [10]:
# print(f"rows train {len(train_set)} \nrows test {len(test_set)}")

In [11]:
from sklearn.model_selection import train_test_split
train_set , test_set = train_test_split(housing ,test_size = 0.2 , random_state = 42)
print(f"rows train {len(train_set)} \nrows test {len(test_set)}")

rows train 404
rows test 101

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit